* {
  box-sizing: border-box;
}

html,
body,
div,
span,
app,
h1,
h2,
h3,
h4,
p,
a,
img,
strong,
ul,
li,
form,
label,
input,
button,
main,
header,
nav,
section,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

button,
input {
  font-family: inherit;
}

button {
  background: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}