:root {
  --yellow: #fae100;
  --dark-brown: #3b1e1e;
  --black: #202124;
  --gray-900: #333333;
  --gray-700: #676767;
  --gray-500: #969696;
  --gray-300: #d9d9d9;
  --gray-200: #eeeeee;
  --gray-100: #f7f7f7;
  --orange: #ff5a2f;
  --pink: #ff6bb5;
  --blue-chat: #abc1d1;
  --screen-side-space: 22px;
  --nav-height: 72px;
  --status-height: 30px;
  --app-width: 430px;
  --border: 1px solid rgba(0, 0, 0, 0.08);
}